body {
    font-family: 'Source Sans Pro';
    padding-top: 50px;
    background-color: #eeeeee;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.marketing .col-lg-4 {
    text-align: center;
}

h4, h3, h2, h1 {
    font-family: 'Source Sans Pro';
    font-weight: lighter;
}

a {
    color: #ff4141;
}

.spacing-row {
    line-height: 43px;
}

.navbar-custom {
    background-color: #333;
    border-top: 3px solid #ff4141;
    box-shadow: 0 0 3px 1px;
}

.navbar-custom a {
    color: white;
}

ul.nav > li > a:hover {
    background-color: #333;
}

footer {
    background: #333;
    padding: 10px 0 5px 0;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer i,
footer a,
.text-muted {
    color: white;
}

footer a:hover {
    transition: all 0.3s ease 0s;
    color: #ff4141;
}

.pi {
    color: #e3e3e3;
    font-size: 42px;
}

h4 {
    color: black;
}

.social .fa-github:hover {
    color: #ff4141;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.icon-bar {
    background: #e3e3e3;
}

.page-header-custom {
    padding-bottom: 20px;
    margin: 20px 100px 50px;
}

.heart-custom {
    color: #c98c81;
    font-size: 18px;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 18px;
    border-radius: 8px;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ff4141;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}